<div>
    <h2>Admin Table </h2>
   <div class="row">
    <div class="col-lg-6">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let data of adminData, let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>

                </tr>
            </tbody>
        </table>
    </div>
   </div>
</div>
