<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/admin">Admin</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link " routerLink="/home/user" >Users</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit" (click)="logout()">Log Out</button>
        </form>
      </div>
    </div>
  </nav>
</div>


<div class="container mt-5">
  
  <div >
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eveniet autem excepturi cum porro pariatur, eaque delectus officia dolorem quae rem similique laudantium consequatur perspiciatis modi enim sunt quidem, quo, dolorum sint maxime nemo iure blanditiis aliquid? Sequi tempore totam rem id et, repellendus sunt error consectetur quia quis explicabo animi natus nostrum officia suscipit dolore aspernatur voluptatibus eos. Facilis commodi minima quis dolor qui! Id ratione facere tempora dignissimos porro. Asperiores unde sunt voluptate reprehenderit? Atque hic libero error facere inventore, voluptate eum, quae perferendis harum a praesentium sunt commodi corrupti vitae laudantium magnam ut, ipsa natus eius dolorum.
  </div>
</div>
